html,
body {
	padding: 0;
	margin: 0;
	background: #fff;
	letter-spacing: 1px;
	font-family:'Raleway', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body a {
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
	cursor:pointer !important;
}
button,.btn {
	cursor:pointer !important;
}
body a:hover {
	text-decoration: none;
}
body a:focus,
a:hover {
	text-decoration: none;
}
input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	letter-spacing: 1px;
	
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
	font-family: 'PT Sans', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}
p {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-family:'Raleway', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/*-- //Reset-Code --*/
.title {
	font-size: 54px;
	color: #000;
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: capitalize;
}
h6.top-title {
	font-size: 21px;
	margin-bottom: 21px;
	color: #4a4949;
}
.clr {
	color: #fff;
}
.title-sub p,.rooms-agile-left p,
.slider-room-info p,.ser-inner-info p,.abut-inner-wls-head p,.contact-list-grid p,
.contact-list-grid p a,.blog-agile-text-middle p,.blog-txt-info p{
	font-size: 14px;
	color: #000;
	line-height: 28px;
}
.video-info-img p{
	color:#fff;
}


/* events */


.fa-clock {
    color: #45B39D;
}

.fa-calendar-alt {
    color: #E74C3C;
}

.fa-lightbulb {
    color: #F1C40F;
}

.fa-comments {
    color: #3498DB;
}

.fa-money-bill-alt {
    color: #45B39D;
}

.button-cour-w3ls {
    background-color: #138D75;
}

.button-cour-w3ls:hover {
    background-color: #0B5345;
}

.small-button {
    background-color: white;
    border: none;
    color: black;
    border-radius: 15px;
    width: 100px;
}

.small-button:hover {
    background-color: #1ABC9C;
    color: white;
}

.cource-list-agile {
    background-color: #E5E7E9;
    border-radius: 10px;
}

/* admin */
.attachment-image {
    align-self: center;
    width: 15vw;
    height: auto;
    display:block;
    margin: 0 auto;
}

.cource-image {
    display:block;
    margin: 0 auto;
}

/* //menu */
/*-- header --*/ 
.header-w3layouts {
	position: absolute;
	width: 100%;
	z-index: 9999;
	background:transparent;
}
.header-call h4 {
	font-size: 15px;
	color: #fff;
	padding-top: 22px;
	display: inline-block;
}
/*-- nav --*/ 
.toggle-button {
	position: fixed;
	top: 13px;
	right: 15px;
	background:none;
	padding: 8px 4px;
	margin: 8px 15px 8px 0;
	height: 34px;
	width: 35px;
	border: none;
	cursor: pointer;
	z-index:99999;
}
.bar {
	background-color: #fff;
	display: block;
	width: 25px;
	height: 3px;
	border: 0;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
}
.bar + .bar {
	margin-top: 5px;
}
.middle {
	top: 11px;
}
.bottom {
	top: 22px;
}
.toggle-button:hover {
	opacity: .7;
}
.toggle-active .bar {
	background-color: #fff;
}
.toggle-active .top {
	-webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}
.toggle-active .middle {
	opacity: 0;
}
.toggle-active .bottom {
	-webkit-transform: translateY(-10px) translateX(0) rotate(-48deg);
}
.overlay {
	position: fixed;
	background:rgba(0, 0, 0, 0.83);
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .35s, visibility .35s, height .35s;
}
.nav-active {
	opacity: 1;
	visibility: visible;
	height: 100%;
	z-index:9999;
	/*max-height: 340px;*/
}
.overlay ul {
	display: block;
	position: relative;
	top: 175px;
	left: 0;
	text-align: center;
	list-style: none;
	padding: 0;
}
.overlay ul li {
	display: block;
}
.overlay ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
	display: inline-block;
}
.overlay ul li a:hover{
	color:#ee578a;
}



/* contact */

#success-message {
	opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
	padding: 0 20% 0 20%;
}

.form-title {
	padding: 25px;
	font-size: 30px;
	font-weight: 300;
}


.btn-mod.btn-large {
	height: auto;
	padding: 13px 52px;
	font-size: 15px;
}

.btn-mod.btn-border {
	color: #000000;
	border: 1px solid #000000;
	background: transparent;
}

.btn-mod,
a.btn-mod {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 13px;
	color: #fff;
	background: rgba(34, 34, 34, .9);
	border: 1px solid transparent;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
	color: #fff;
	border-color: #000;
	background: #000;
	outline: none;
}

@media only screen and (max-width: 500px) {
	.btn-mod.btn-large {
		padding: 6px 16px;
		font-size: 11px;
	}
	.form-title {
		font-size: 20px;
	}
}

.map iframe {
	width: 100%;
	border: 7px solid #e4e4e4;
	min-height: 500px;
}

/* //contact */

.typo-wthree h4 {
	color: #af4eaa;
	font-size: 1.5em;
	text-transform: capitalize;
}

.bg-flex {
    background-color: rgb(38, 191, 216);
    border: 1px solid rgb(40, 188, 215);
}
.bg-flex-item {
	background-color: #fff;
	border: 1px solid #d7d8d8;
}

.typo-wthree h5 {
	color: #333;
}

/* //typography */
.w3ls-titles h1 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: #555;
    text-align: center;
}
.w3ls-titles h1:after {
    background: rgba(144, 144, 144, 0.5);
    content: '';
    display: block;
    height: 1px;
    width: 6em;
    margin: 0.8em auto;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 46px;
	height: 36px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
@media(max-width:1440px){
.overlay ul {
	top:97px;
}
}

@media(max-width:1024px){
.overlay ul li a {
	font-size: 19px !important;
	padding: 14px;
}
}

@media(max-width:736px){
.cd-header-buttons {
	right: 105px;
}
}
@media(max-width:480px){
.map iframe {
    min-height: 200px;
}
.w3ls-titles h1 {
    font-size: 2em !important;
}
}
