html,
body {
	padding: 0;
	margin: 0;
	background: #fff;
	letter-spacing: 1px;
	font-family:'Raleway', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body a {
	outline: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
	cursor:pointer !important;
}
button,.btn {
	cursor:pointer !important;
}
body a:hover {
	text-decoration: none;
}
body a:focus,
a:hover {
	text-decoration: none;
}
input[type="button"],
input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	letter-spacing: 1px;
	
}
select,input[type="email"],input[type="text"],input[type=password],
input[type="button"],input[type="submit"],textarea{
	font-family: 'PT Sans', sans-serif;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing: 1px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}
p {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	font-family:'Raleway', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/*-- //Reset-Code --*/
.title {
	font-size: 54px;
	color: #000;
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: capitalize;
}
h6.top-title {
	font-size: 21px;
	margin-bottom: 21px;
	color: #4a4949;
}
.clr {
	color: #fff;
}
.title-sub p,.rooms-agile-left p,
.slider-room-info p,.ser-inner-info p,.abut-inner-wls-head p,.contact-list-grid p,
.contact-list-grid p a,.blog-agile-text-middle p,.blog-txt-info p{
	font-size: 14px;
	color: #000;
	line-height: 28px;
}
.video-info-img p{
	color:#fff;
}


/* events */


.fa-clock {
    color: #45B39D;
}

.fa-calendar-alt {
    color: #E74C3C;
}

.fa-lightbulb {
    color: #F1C40F;
}

.fa-comments {
    color: #3498DB;
}

.fa-money-bill-alt {
    color: #45B39D;
}

.button-cour-w3ls {
    background-color: #138D75;
}

.button-cour-w3ls:hover {
    background-color: #0B5345;
}

.small-button {
    background-color: white;
    border: none;
    color: black;
    border-radius: 15px;
    width: 100px;
}

.small-button:hover {
    background-color: #1ABC9C;
    color: white;
}

.cource-list-agile {
    background-color: #E5E7E9;
    border-radius: 10px;
}

/* admin */
.attachment-image {
    align-self: center;
    width: 15vw;
    height: auto;
    display:block;
    margin: 0 auto;
}

.cource-image {
    display:block;
    margin: 0 auto;
}

/* //menu */
/*-- header --*/ 
.header-w3layouts {
	position: absolute;
	width: 100%;
	z-index: 9999;
	background:transparent;
}
.header-call h4 {
	font-size: 15px;
	color: #fff;
	padding-top: 22px;
	display: inline-block;
}
/*-- nav --*/ 
.toggle-button {
	position: fixed;
	top: 13px;
	right: 15px;
	background:none;
	padding: 8px 4px;
	margin: 8px 15px 8px 0;
	height: 34px;
	width: 35px;
	border: none;
	cursor: pointer;
	z-index:99999;
}
.bar {
	background-color: #fff;
	display: block;
	width: 25px;
	height: 3px;
	border: 0;
	-webkit-transition: all .35s ease;
	transition: all .35s ease;
}
.bar + .bar {
	margin-top: 5px;
}
.middle {
	top: 11px;
}
.bottom {
	top: 22px;
}
.toggle-button:hover {
	opacity: .7;
}
.toggle-active .bar {
	background-color: #fff;
}
.toggle-active .top {
	-webkit-transform: translateY(6px) translateX(0) rotate(45deg);
}
.toggle-active .middle {
	opacity: 0;
}
.toggle-active .bottom {
	-webkit-transform: translateY(-10px) translateX(0) rotate(-48deg);
}
.overlay {
	position: fixed;
	background:rgba(0, 0, 0, 0.83);
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .35s, visibility .35s, height .35s;
}
.nav-active {
	opacity: 1;
	visibility: visible;
	height: 100%;
	z-index:9999;
	/*max-height: 340px;*/
}
.overlay ul {
	display: block;
	position: relative;
	top: 175px;
	left: 0;
	text-align: center;
	list-style: none;
	padding: 0;
}
.overlay ul li {
	display: block;
}
.overlay ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 15px;
	display: inline-block;
}
.overlay ul li a:hover{
	color:#ee578a;
}
/*-- //nav --*/ 
/*-- //header --*/  

/*-- banner --*/ 


.filter-container {
    background: url("../images/abstraction5.jpg");
    max-width: 80vw;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}


.cource-list-agile {
    background-image: url("../images/minimalism3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-block {
    display: block;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: auto;
}

.filter-box {
    margin: 1vw;
    max-width: 40vw;
    text-align: left;
    padding: 0;
}

.filter-group {
    max-width: 33%;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    margin: auto;
    text-align: center;
}

.inline {
    max-width: 35vh;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: left;
}

.right {
    text-align: right;
    align-content: end;
    align-items: end;
}

.advantage-grid-info1 {
    padding: 0;
}
.advantage_left h4 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #cc2105;
}
.advantage_left h3 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: #555;
}
.advantage_left h3:after {
    background: rgba(144, 144, 144, 0.5);
    content: '';
    display: inline-block;
    height: 1px;
    margin-top: 0em;
    width: 4em;
}
.advantage_left {
    padding: 0 4em 0 0;
}
.banner-top p {
    font-size: 15px;
    line-height: 1.8em;
    color: #777;
}
.advantage_left2 img {
    border-radius: 4px;
}
.slide-wrapper{
	background: url(../images/abstraction1.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
}
.ser-lt span {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 40px;
    color: #fff;
    border: solid 2px rgba(255, 255, 255, 0.125);
    transform: rotate(-45deg);
    border-radius: 3px;
}
.ser-lt li {
    display: inline-block;
    width: 40%;
    margin-bottom: 13%;
}
.ser-lt li:nth-child(5),.ser-lt li:nth-child(6) {
    margin-bottom: 0%;
}
.ser-rgt h3 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: #fff;
}
.ser-rgt h3:after {
    background: rgba(144, 144, 144, 0.5);
    content: '';
    display: inline-block;
    height: 1px;
    margin-top: 0em;
    width: 6em;
}
.ser-rgt p {
    font-size: 15px;
    line-height: 1.8em;
    color: #fff;
}
.news-grids h4 {
    font-size: 1.35em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #3d4449;
    position: relative;
}
.news-grids p {
    font-size: 15px;
    line-height: 1.8em;
    color: #777;
}
.agile-link-bnr1 {
    padding: 10px 40px;
    color: #555;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    background: none;
    border: 1px solid #555;
	text-transform:uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.agile-link-bnr1:hover {
    padding: 10px 45px;
    color: #555;
    letter-spacing: 1.5px;
    background: none;
    border: 1px solid #555;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.news-grids img {
    border-radius: 4px;
}
.news h3 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: #555;
	text-align:center;
}
.news h3:after {
    background: rgba(144, 144, 144, 0.5);
    content: '';
    display: block;
    height: 1px;
    width: 6em;
    margin: 0.8em auto;
}


/* contact */

#success-message {
	opacity: 0;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
	padding: 0 20% 0 20%;
}

.form-title {
	padding: 25px;
	font-size: 30px;
	font-weight: 300;
}

.form-group .form-control {
	-webkit-box-shadow: none;
	border-bottom: 1px;
	border-style: none none solid none;
	border-color:#25c2da;
}

.form-group .form-control:focus {
	box-shadow: none;
	border-width: 0 0 2px 0;
	border-color: #000;
}

#start_1, #start_2, #end_1, #end_2, #price_1, #price_2 {
    font-size: 1px;
    opacity: 0.0;
    height: 0.1vh;
}

textarea {
	resize: none;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#attachmentSelector input {
    pointer-events: none;
}

#attachmentSelector {
    cursor: pointer;
}

.btn-mod.btn-large {
	height: auto;
	padding: 13px 52px;
	font-size: 15px;
}

.btn-mod.btn-border {
	color: #000000;
	border: 1px solid #000000;
	background: transparent;
}

.btn-mod,
a.btn-mod {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px 13px;
	color: #fff;
	background: rgba(34, 34, 34, .9);
	border: 1px solid transparent;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	-ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
	transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod.btn-border:hover,
.btn-mod.btn-border:active,
.btn-mod.btn-border:focus,
.btn-mod.btn-border:active:focus {
	color: #fff;
	border-color: #000;
	background: #000;
	outline: none;
}

@media only screen and (max-width: 500px) {
	.btn-mod.btn-large {
		padding: 6px 16px;
		font-size: 11px;
	}
	.form-title {
		font-size: 20px;
	}
}

form#contact-form label {
	color: #ea4335;
}

/* 404 not found*/

.video-container {
    height: 100vh;
}

#video-404 {
    height: 100%;
    max-width: 100%;
}

/* not found */

/* //contact */
#video-noresponse {
    display: block;
    margin: auto;
}

/* contact */

.form-control {
	background-color: #e2e2e2;
	border: none;
}

.map iframe {
	width: 100%;
	border: 7px solid #e4e4e4;
	min-height: 500px;
}

/* //contact */
.serv_bottom {
    background: #25c2da;
	color:#fff;
}
.serv_bottom:hover {
	 background: #25c2da;
	color:#fff;
}
.typo-wthree h4 {
	color: #af4eaa;
	font-size: 1.5em;
	text-transform: capitalize;
}

.bg-flex {
    background-color: rgb(38, 191, 216);
    border: 1px solid rgb(40, 188, 215);
}
.bg-flex-item {
	background-color: #fff;
	border: 1px solid #d7d8d8;
}

.typo-wthree h5 {
	color: #333;
}

/* //typography */
.w3ls-titles h1 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: 2px;
    color: #555;
    text-align: center;
}
.w3ls-titles h1:after {
    background: rgba(144, 144, 144, 0.5);
    content: '';
    display: block;
    height: 1px;
    width: 6em;
    margin: 0.8em auto;
}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 46px;
	height: 36px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
@media(max-width:1440px){
.overlay ul {
	top:97px;
}
}
@media(max-width:1080px){
.advantage_left h3 {
    font-size: 2em !important;
}
.ser-rgt h3 {
    font-size: 2em !important;
}
.news h3 {
    font-size: 2em !important;
}
}

@media(max-width:1024px){
.overlay ul li a {
	font-size: 19px !important;
	padding: 14px;
}
}
@media(max-width:991px){

.advantage_left h3:after {
    display: block;
    margin-top: 0.5em;
	width: 6em;
}
.advantage_left2.text-center {
    margin-top: 1em;
}
.ser-rgt {
    margin-top: 3em;
}
.ser-rgt h3:after {
    display: block;
    margin-top: 0.5em;
}
}

@media(max-width:736px){
.cd-header-buttons {
	right: 105px;
}
.newsgrid3 {
    margin-top: 2em;
}
.advantage_left h3 {
    font-size: 1.8em !important;
}
.advantage_left {
    padding: 0 0em 0 0;
}
.ser-rgt h3 {
    font-size: 1.8em !important;
}
.news h3 {
    font-size: 1.8em !important;
}
}
@media(max-width:480px){
.map iframe {
    min-height: 200px;
}
.w3ls-titles h1 {
    font-size: 2em !important;
}
}

@media(max-width:414px){
	.ser-lt span {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 30px !important;
}
}
@media(max-width:384px){
	.advantage_left h3 {
    font-size: 1.5em !important;
}
.ser-rgt h3 {
    font-size: 1.5em !important;
}
.news h3 {
    font-size: 1.5em !important;
}
.banner-top p {
    font-size: 14px !important;
}
.ser-rgt p {
    font-size: 14px !important;
}
.news-grids p {
    font-size: 14px !important;
}
section.news p {
    font-size: 14px !important;
}
}
.advantage_left h3 {
    font-size: 1.3em !important;
}
.ser-rgt h3 {
    font-size: 1.3em !important;
}
}

@media only screen and (max-width: 800px) {

    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
        font-family:'Raleway', sans-serif;
    }

    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}
/*--//responsive--*/